body{
	/*width:1500px;*/
    min-height:1400px;
    margin:0px auto;
	padding:0;
    background-color:green;
    font-family: Times, serif, Georgia, "Times New Roman", "宋体";
    font-weight:normal;
    font-size:16px;
    overflow:auto
}
    h1{font-size:23px}
	h2{font-size:20px}
	h3{font-size:18px}
	h4{font-size:16px}
	h5{font-size:13px}
	h2,h3,h4{
		margin:0.1em 0em 0.1em 0em;
		padding:0px;
	}
	a:link{
		color:black;
		text-decoration:none
	}
	a:hover{color:red}
	a:active{background-color:green;}
	a:visited{color:gray;font-size:80%;text-decoration:underline}
#main{
    max-width:900px;
    margin:0px auto;
    /*padding:60px;*/
    overflow:auto;
    background-color:#FAEBD7;
    border-radius:5px;
}

#blog-title{
	max-width:300px;
	max-height:50px;
	float:left;
	/*background-color:red;*/
	margin:0;
	padding:14px;
}
	#logo{
		font-family:Times, serif, Georgia, "Times New Roman", "宋体";
		font-size:24px;
		color:gray;
		text-decoration:none;
		letter-spacing:1px;	
	}
	#subtitle{
		padding-left:0.5em;
		font-size:14px;
		letter-spacing:1px;
	}
/* ------------------------------------------------ */
/* #navi{
	max-width:400px;
	float:right;
	margin:0 4px;
	padding:18px;
}
#navi a{
	font-size:16px;
	padding:0 5px;
} */

#navi{
	margin:0 4px;
	padding:14px;
	list-style:none;
	text-decoration:none;
	float:right;
	max-width:400px;
	max-height:50px
}
#navi ul{
	margin:0;
	padding:0
}
#navi ul li{
	float:left;
	display:block;
	max-height:50px;
	line-height:30px;
	padding:0 10px;
	position:relative
}

#navi ul li ul{
	margin:0;
	padding:0;
	position:absolute;
	top:30px;
	left:0;
	display:none
}
/* #navi ul li ul li:hover{
	background:red
} */

#navi ul li:hover ul{
	display:block
}
/* ------------------------------------------------------- */
#container{
	margin:0;
	padding:0;
	float:left;
	line-height:1.7;
	/*background-color:orange;*/
	min-height:50vh;
	width:100%;
}
.post-entry{
    margin:33px 0 25px 0;
	padding:20px;
	overflow:auto;
	/* background-color:white; */
	border:dashed 1px;
	border-radius:4px;
}
.post-title, .post-desc{
	border:0;
	margin:0;
	padding:0
}
.post-desc{
	font-size:14px
}
.post-time{
	margin:25px 0 -30px 15px;
	padding:0px;
	font-weight:bold;
	color:#c6b3b3;
}

#page-navigator{
	max-height:50px;
	width:100%;
	margin:10px 0 10px 0;
	padding:0;
	float:left;
    /* background-color:white; */
}
#page-navigator #page-prev{
    max-width:120px;
	padding:16px;
    float:left;
}
#page-navigator #page-next{
	max-width:120px;
	padding:16px;
	float:right;	
}
#footer{
    height:42px;
	width:100%;
	color:gray;
	float:left;
	display:block
}
#social{
    max-width:300px;
	height:36px;
	margin:10px 0 0 0;
	padding:3px;
	float:left;
}
#social a{
    padding:0 5px;
}
#footer-content{
	max-width:300px;
	height:20px;
	margin:10px 0 0 0;
	padding:3px;
	float:right;
}

/* -------------------------------------------- */
@media screen and (max-width:600px){
	#main{padding:5px}
	#blog-title{display:none}
	#navi{float:left;margin-top:30px}
}
@media screen and (min-width:600px) and (max-width:750px){
	#main{padding:20px}
}
@media screen and (min-width:750px) and (max-width:960px){
	#main{padding:45px}
}
@media screen and (min-width:960px){
	#main{padding:60px;margin:20px auto}
}
/*---------------------------------------------*/
.post-entry > ul,.post-entry > ol{
	margin:0px auto;
	padding:10px;
	float:left;
}
.post-entry > ul li{
	list-style:none;
	margin:0px;
	padding:10px;
	
}
.post-entry > ol li{
	list-style:none;
	margin:0px;
	padding:10px;
}
.post-entry p,p{
	margin:0em 0em 1em 0em;
	padding:0px;
	/*line-height:1.7;*/
	float:left;
	width:100%;
}
.post-entry pre{	
	width:95%;
	margin:1em 0em 1em 0em; 	
	padding:1em;	
	overflow:auto;
	background-color:#c9c9c354;
}

.post-entry code{	
	border-radius:10px;	
}

.post-entry img{
	max-width:350px;
	margin:5px;
	padding:0px;
	border:0px;
	border-radius:3px;
	width:100%
}

.post-entry blockquote{
	margin:0px 0px 24px 0px;
	padding:1em 1em 0em 1em;
	border-bottom:1px solid; 
	background-color:#c9c9c354;
	line-height:2em;
	float:left;
}
.toc{
	margin:30px 10px 10px 10px;
	padding:10px; 
	max-width:400px;
	background-color:floralwhite; 
	font-size:90%;
	border-radius:3px;
}
.toc ul, .toc ol{
	margin:0px;
	padding:0px;
}
.toc li{
	margin:0px 0px 0px 20px;
	padding:5px;
	list-style:upper-latin;
}
.post-entry video,.post-entry iframe{
	padding:0px;
	margin:1em 0em 1em 0em;
	max-width:550px;
	max-height:550px;
}
