	body{
	    width:1000px;
		height:100vh;
		margin:0 auto;
		background-color:orange;;
		font-family:"宋体", Georgia, "Times New Roman", Times, serif;
		font-weight: normal;
		font-size:14px;
	}
    h1{font-size:21px}
	h2{font-size:18px}
	h3{font-size:16px}
	h4{font-size:14px}
	h5{font-size:11px}
	h1,h2,h3,h4{
		margin:0.5em 0 0.5em 0;
		padding:0;
	}
	a:link{
		color:black;
		text-decoration:none
	}
	a:hover{color:blue}
	a:active{background-color:green;}
	a:visited{color:gray;font-size:80%}
	
	/*-----------------setting three div :top center page_nav bottom--------------------------*/
	.top,.center,.page_nav,.bottom{
	   margin:10px;
	   background-color:white;
	   border-radius:5px
	}
	.top{height:170px;}
	.center{
		min-height:80vh;
	    overflow:auto;
	}
	.page_nav{
		max-height:50px;
		min-height:15px;
		padding:10px;
	}
	.bottom{
		max-height:300px;
		padding:10px
	}
	/*------------------setting three div:logo title show_images in the div: top------------------------*/
	#logo{width:150px;margin:10px;}
	#title{
		width:460px;
		margin:10px 0 10px 0; 
		text-align:center
	}
	#show_images{
		width:320px;
		margin:10px;
		border-radius:10px
	}
	#logo, #title, #show_images{
		height:150px;
		float:left;
	}
	/*----------------------------setting two div:main_content links in the div: center--------------*/
	.main_content{
		width:630px; 
		margin:10px 10px 10px 150px;
		padding:10px;
		min-height:80vh;/*952px*/
	}
	.links{
		width:150px; 
		margin:10px 10px 10px 0;
		min-height:80vh;/*972px*/
	}
	.main_content, .links{float:left;}
	
	
	/*----------------------------------------------------------------------------*/
	.top img{
	    width:150px;
		border-radius:5px;
	}
	
	
	/*--------------------------------------*/
	#first{
		margin:0 0 1em 0;
		padding:0;
		width:100%;
		float:left;
	}
	.main_content{
	    border-right:solid 1px;
	    /*border:solid 1px;
		border-radius:5px;*/
		overflow:auto;
	}
	.main_content ul,ol{
	    margin:0 auto;
		padding:10px;
	}
	.main_content ul li{
	    list-style:none;
		margin:0;
		padding:10px;
		
	}
	.main_content ol li{
	    list-style:none;
		margin:0;
		padding:10px;
		
	}
	.main_content p,p{
		margin:0 0 1.5em 0;
		padding:0;
		line-height:1.8em;
	}
	.main_content pre{	
		width:95%;
		margin:1em 0 1em 0; 	
		padding:0.5em; 	
		border:1px dashed; 	
		overflow:auto;
		font-size:90%;
	}
	.main_content code{font-size:1.1em}

	.main_content code{	
		border-radius:10px;	
		color:black	
	}
	.main_content p img{
		max-width:300px;
		min-width:200px;
	}
	.main_content img{
		max-width:300px;
		min-width:200px;
		margin:0 1em 2em 1em;
		padding:0;
		border:0;
		border-radius:3px;
	}
	
	.main_content blockquote{
		width:95%
		margin:10px 0 10px 0;
		padding:0 1em 0 1em; 
		border-top:1px dashed;
		border-bottom:1px dashed; 
		font-size:90%;
		float:left;
	}
	.toc{
		margin:0;
		padding:0 1em 0 1em; 
		max-width:400px;
		float:right;
		background-color:floralwhite; 
		font-size:80%;
	}
	.main_content video,iframe{
    padding:0;
    margin:1em 0 1em 0;
    max-width:630px;
    max-height:500px;
}

    /*------------------------------the div links in the div: center------------------------------*/
	.links ul{
	    margin:0 auto;
		padding:10px;
	}
	.links ul li{
		list-style:none;
		margin:20px 0 20px 0;
		padding:10px;
		border-radius: 5px;
		border:solid 1px;
		background-color:#CFDFBA;
		text-align:center;
	}
	/*---------------------------------*/
	#prepage, #nextpage{
		width:150px;
		max-height:15px;
		padding:0;
		float:left;
		text-align:center;
	}
	#prepage{
		margin:0 0 0 150px;
	}
    #nextpage{
		margin:0 0 0 240px;
	}
	
	
	
	/*---------------------------setting div introduce in the div: bottom     ---------------------*/
	.introduce{
		margin-top:10px; margin-bottom:10px;
		margin-left:150px;
		padding:20px;
		width:500px;
		max-height:180px;
		border: solid 1px;
		border-radius:50px 5px;
		overflow:auto;
	}